<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="8" android:versionName="2.2" package="touchwiz"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    <permission-group android:name="android.permission-group.COST_MONEY" />
    <application android:allowClearUserData="false" android:hasCode="false" android:persistent="true" android:process="system" />
</manifest>
